@import '_reset';

body{
  font-family: 'Open Sans Condensed', sans-serif;
  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

.top {
  color: white;
  height: 90vh;
  background-image: url('../img/header.PNG');
}
.nav {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  .left {
    a {
      padding: 10px;
    }
  }
  ul {
    display: flex;
    list-style-type: none;

    li {
      a {
        padding: 10px;
      }

    }
  }
}
