@import '_reset';

body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
}

.top {
  color: white;
  height: 800px;
  background-image: url('../img/header.PNG');
  background-position: center;
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: space-between;
  background: transparent;
  color: white;
  border-bottom: 1px solid rgba(121,121,121,0.3);
  .left {
    a {
      padding: 10px;
    }
  }
  ul {
    display: flex;
    list-style-type: none;

    li {
      a {
        padding: 10px 20px;
        text-transform: uppercase;
      }
      a:hover{
        color: rgba(200,200,200,0.5);
      }
    }
    li:last-child{
      border-left: 1px solid rgba(121,121,121,0.3);
      a {
        padding: 10px 30px;
      }
    }
  }
}
.hero {
    margin-left: 8%;
    margin-right: auto;
    width: 30%;
    margin-top: 10%;
  h1 {
    font-size: 8rem;
    line-height: 7rem;
    text-transform: uppercase;
    padding: 6% 0;
  }
  p {
    line-height: 2.5rem;
    font-size: 2.0rem;
    padding-bottom: 2.5rem;
    color: #c1c1c1;
  }
  button {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: inherit;
    color: white;
    border: 1px solid #675757;
    border-radius: 3px;
    font-size: 0.8rem;
    height: 2.4rem;
    padding: 0 2rem;
    cursor: pointer;

    span.btn-txt {
      padding-left: 0.5rem;
    }
    span.dot {
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: orange;
    }
  }
  button:hover {
    background-color: white;
    color: #675757;
  }
}
.men {
  background-image: url('../img/man_img.PNG');
  background-size: cover;
}
.women {
  background-image: url('../img/lady_img.PNG');
  background-size: cover;
}
